/* Grid hover effects by Codrops : https://github.com/codrops/HoverEffectIdeas  */


.grid {
	position: relative;
	clear: both;
	margin: 0 auto;
	max-width: 1000px;
	padding: 0px;
	list-style: none;
	text-align: center;
}
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 5px;
	max-width: 45%;
	max-height: 24vh;
	text-align: center;
}

.grid figure img {
	position: relative;
	display: block;
	height: 100%;
	width: 100%;
	opacity: 0.6;
}
figure #drake {
	position: relative;
	display: block;
	height: 100%;
	width: 100%;
	opacity: 1;
}


.grid figure figcaption {
	padding: 2px;
	padding-top:20%;
	color: #fff;
	text-transform: uppercase;
	font-size: 13px;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0px;
	left: 5px;
	width: 90%;
	height: 90%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
    font-family: 'Ubuntu', sans-serif !important;
	word-spacing: -0.15em;
	font-size:1.2em;
    font-weight: 400;
	text-shadow: 1px 1px 5px #000000;
}

.grid figure h2 span {
	font-weight: 800;
	margin-left: 2px;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: .5px;
    font-family: 'Ubuntu';
    font-weight: 300;
}

figure.effect-julia {
	background: #000000;
}

.effect-julia #drake{
		background:#ffffff;
}

figure.effect-julia img {
	max-width: none;
	height:100%;
}

figure.effect-julia figcaption {
	text-align: left;
}

figure.effect-julia h2 {
	position: relative;
	padding: 0 1px 0;
    color: #fcfcfc;
}

figure.effect-julia p {
	display: inline-block;
	margin: 0 0 0.25em;
	padding: 3px 7px;
	background: rgba(255,255,255,0.9);
	color: #2f3238;
	text-transform: none;
	font-weight: 500;
	font-size: 80%;
}


figure.effect-julia p:nth-of-type(3) {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-julia:hover p:first-child {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

figure.effect-julia:hover p:nth-of-type(2) {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-julia:hover p:nth-of-type(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-julia:hover img {
	opacity: 0.4;
	-webkit-transform: scale3d(1.1,1.1,1);
	transform: scale3d(1.1,1.1,1);
}

figure.effect-julia:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

@media only screen and (min-width: 820px) {
    /* Grid hover effects by Codrops : https://github.com/codrops/HoverEffectIdeas  */

.grid {
	position: relative;
	clear: both;
	margin: 0 auto;
	padding-left: 20px;
	max-width: 1000px;
	list-style: none;
	text-align: center;
	
}
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 2px;
	max-height: 30vh;
	max-width: 30%;
	height: auto;
	background: #3085a3;
	text-align: center;

}

.grid figure img {
	position: relative;
	display: block;
	height: 100%;
	height: 100%;
	width: 100%;
	opacity: 0.6;
    
}

.grid figure figcaption {
	padding: 5px;
	color: #fff;
	text-transform: uppercase;
	font-size:16px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 10%;
	left: 5px;
	width: 90%;
	height: 100%;
}

figure.effect-julia p:nth-of-type(3) {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
        opacity:1;
	word-spacing: -0.15em;
	font-weight: 300;
	text-shadow: 1px 1px 5px #000000;
}

.grid figure h2 span {
	font-weight: 800;
	margin-left: 3px;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 12px;
    font-weight:300;
}
figure.effect-julia {
	background: #000000;
}

figure.effect-julia img {
	max-width: none;
	height:100%;
	-webkit-transition: opacity 1s, -webkit-transform 1s;
	transition: opacity 1s, transform 1s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-julia figcaption {
	text-align: left;
}

figure.effect-julia h2 {
	position: relative;
	padding: 0.5em 0;
    color: #fcfcfc;
        opacity:1;
}

figure.effect-julia p {
	display: inline-block;
	margin: 0 0 0.25em;
	padding: 0.4em 1em;
	background: rgba(255,255,255,0.9);
	color: #2f3238;
	text-transform: none;
	font-weight: 500;
	font-size: 75%;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-360px,0,0);
	transform: translate3d(-360px,0,0);
}

figure.effect-julia p:first-child {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

figure.effect-julia p:nth-of-type(2) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}
  
}