@import 'https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps|Ubuntu:300,500|Righteous';

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#social-media a {
	font-size: 300%;
	color: white;
	padding: 10px;
	transition: all 0.3s;
}

#social-media a:visited {
	color: black;
}

#social-media a:hover {
	color: #D92A7B;
}
.container{
	width:100%;
	overflow:hidden;
}

main{
	transform: translateX(-5000px);
	z-index: 1;
}

body {
	font-family: 'Ubuntu', helvetica, sans-serif ;
	font-weight: 300;
	font-size: 17px;
	line-height: 1.4;
	color: #333;
	background-color: #B24592;
	background: -webkit-linear-gradient(to left, #F15F79, #B24592);
	background: linear-gradient(to left, #F15F79, #B24592);
}

h1 {
	font-size: 4.4em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Oleo Script Swash Caps', cursive ;
	font-size: 4.4em;
}

a {
	text-decoration: none;
	font-family: 'Ubuntu', helvetica, ;
	font-weight: 300;
}
b{
	font-weight:500;
}

#loader{
	margin:0 auto;
	position:absolute;
	left:20%;
}
#intro h1 {
	display: inline-block;
	color: white;
	font-family: 'Righteous', serif;
	font-size: 12em; 
	text-shadow: .03em .03em 0 hsla(230,40%,50%,1);
	}
	#intro h1:after {
	  content: attr(data-shadow);
	  position: absolute;
	  top: .06em; left: .06em;
	  z-index: -1;
	  text-shadow: none;
	  background-image:
		linear-gradient(
		  45deg,
		  transparent 45%,
		  hsla(48,20%,90%,1) 45%,
		  hsla(48,20%,90%,1) 55%,
		  transparent 0
		  );
	  background-size: .05em .05em;
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
	
	  animation: shad-anim 15s linear infinite;
	  }
  
  @keyframes shad-anim {
	0% {background-position: 0 0}
	0% {background-position: 100% -100%}
	}
section {
	overflow: hidden;
	padding: 60px 10%;
	box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.3);
}

#intro {
	height:50vh;
	overflow: hidden;
	background-color: #DB59A1;
	background-image: url(../images/sprinkles-bg-mobile.png);
	background-position: left;
	background-repeat: repeat-y;
}
#home-logo {
    position: relative;
    transition: all 0.3s ease-in;
    width: 20%;
    max-width: 200px;
    min-width: 100px;
    z-index: 4000;
}
#home-logo:hover {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}
/*About Page */

#about {
	background-color: #3FBFFF;
	color: white;
}
#about p {
	text-shadow: 2px 1px 10px rgba(95, 95, 95, 0.74);
}
#about h2{
	display:block;
	width:100%;
	text-shadow: -5px 6px #2c2c2c;
	line-height: 0.8;
	font-size: 4.4em;
	padding: 20px 0px 20px 0px;
}
#about-text{
	width:100%;
}
#about h3{
	font-size:130%;
	font-family:'Ubuntu', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	padding-bottom:15px;
}
.img-circle {
	float:left;
	border-radius: 50%;
	width:150px;
	border:2px solid white;
	box-shadow:1px 1px 8px rgba(0, 0, 0, 0.264);
}

#about-details{
	float:left;
	padding-left:20px;
	width:50%;
}
#about-text p {
	color: #ffffff;
}

#clouds-mobile {
	position: absolute;
	z-index: 1;
	max-width: 150%;
	height: auto;
	bottom: 0px;
	z-index: 2;
	-webkit-animation: cloudsMove 40s ease infinite alternate;
	animation: cloudsMove 40s ease infinite alternate;
}

#plane {
	clear: both;
	width: 10%;
	max-width: 80px;
	position: absolute;
	top: 2vw;
	padding: 20px;
	left: 55%;
}

/* Portfolio Page */
section#portfolio{
	background-color:white;
}

#portfolio h1 {
	color: #6AC8C8;
	text-shadow: -5px 6px #106671;
	text-align: center;
	padding-top: 5px;
	line-height: 1;
}


/*  connect Page */

section#connect {
	background-color: rgb(32, 197, 222);
	color: white;
	text-align: center;
}

#connect p {
	text-align: center;
	font-size: 90%;
	color: white;
	width: 100%;
	margin-top: 20px;
}

#connect h2 {
	color: white;
	text-shadow: -5px 6px #f00b6c;
	text-align: center;
	padding-top: 50px;
	line-height: 1;
}

footer {
	padding: 50px 20px;
	text-align: center;
	color: white;
	background-color: rgb(81, 81, 81);
}
.socialmedia {
	margin-top: 50px;
	width: 40px;
}


/*  Mobile Nav  */

#show-button {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	color: white;
	font-size: 250%;
	z-index: 9800;
	text-shadow: 2px 2px 3px black;
}

#hide-button,
#nav ul {
	display: none;
}

#nav:target #show-button {
	display: none;
}

#nav:target #hide-button {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	color: white;
	font-size: 300%;
	z-index: 8555;
	text-shadow: 2px 2px 3px black;
}

#nav {
	z-index: 9900;
	position: fixed;
}

#nav:target #nav-menu {
	display: block;
	position: fixed;
	top: -70px;
	right: 0;
	width: 100%;
	height: 100%;
	color: black;
	background-color: rgba(255, 255, 255, 0.9);
	padding-top: 30vh;
	z-index: 8444;
}

#nav:target ul li {
	margin: 0 auto;
	margin-top: 30px;
	width: 50%;
	display: block;
	z-index: 8878;
	font-size: 1em;
	margin-bottom: 20px;
}

#nav:target ul li a {
	text-transform: uppercase;
	color: black;
	padding: 10px;
	text-decoration: none;
	display: block;
	text-align: center;
	width: 100%;
	margin: 0 auto;
	letter-spacing: 5px;
}

#nav:target ul li:nth-child(1) {
	-webkit-animation: slideInRight .3s 1 ease-out .1s both;
	animation-name: slideInRight .3s 1 ease-out .1s both;
}

#nav:target ul li:nth-child(2) {
	-webkit-animation: slideInRight .3s 1 ease-out .2s both;
	animation-name: slideInRight .3s 1 ease-out .2s both;
}

#nav:target ul li:nth-child(3) {
	-webkit-animation: slideInRight .3s 1 ease-out .3s both;
	animation-name: slideInRight .3s 1 ease-out .3s both;
}

#nav:target ul li:nth-child(4) {
	-webkit-animation: slideInRight .3s 1 ease-out .4s both;
	animation-name: slideInRight .3s 1 ease-out .4s both;
}

#nav:target ul li a:hover {
	background-color: pink;
}


/* clouds */

@keyframes cloudsMove {
	0% {
		transform: translateX(-300px);
	}
	50% {
		transform: translateX(300px);
	}
}


/* --------------------- MEDIA QUERIES ------------------ */

@media only screen and (min-width: 820px) {
	/* For desktop: */
	.col-1 {
		width: 100%;
	}
	.col-12 {
		width: 50%;
	}
	.col-13 {
		width: 33.33%;
	}
	.col-14 {
		width: 25%;
	}
	body {
		font-size: 2vw;
	}
	#sprinkles {
		position: absolute;
		left: 0;
		top: 0;
		width: 36%;
		height: 100%;
		background-image: url(../images/sprinkles-bg.png);
		background-size: cover;
		background-repeat: repeat-y;
	}
	/* -- Desktop Nav -- */
	
	#nav,
	#nav ul {
		display: block;
	}
	#show-button {
		display: none;
	}
	#nav {
		position: relative;
		opacity: 1;
		height: 4vh;
		display: block;
		width: 100%;
		background: rgb(255, 255, 255);
		z-index: 9;
		text-align: right;
		color: rgba(29, 28, 28, 0.93);
		border-bottom: 1px solid #363636;
		padding: 4px 0px;
	}
	#nav li {
		display: inline-block;
		margin-right: 30px;
		font-size: 16px;
		text-transform: uppercase;
		letter-spacing: 5px;
		color: black;
		padding:5px 0px;
	}
	nav a {
		color: #121212;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 300;
		text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
	}
	/* Desktop About Page */
	.img-circle {
		min-width:150px;
		width:30%;
	}
	#plane {
		clear: both;
		position: absolute;
		width: 8%;
		top: 1vw;
		left: 63%;
		cursor: pointer;
	}
	#clouds {
		display: block;
		position: absolute;
		top: 30px;
		margin-top: 0;
		z-index: 1;
		height: 90%;
		-webkit-animation: cloudsMove 30s ease infinite alternate;
		animation: cloudsMove 30s ease infinite alternate;
	}
	#clouds-mobile {
		display: none;
	}
	#about-text {
		float: left;
		width: 60%;
		margin-left: 50px;
	}
	.about h2 {
		margin-bottom: 10px;
		font-size: 4.4em;
		z-index: 12;
	}
	#about-text h2,
	#about-text p {
		text-align: left;
		float: left;
	}
	#about-text p {
		font-size: 16px;
	}
	/* Desktop Portfolio page */
	#portfolio h1 {
		padding-bottom: 10px;
	}
	/*  connect Page */
	#connect p {
		font-size: 13px;
	}
	#connect h2 {
		font-size: 450%;
		line-height: 1;
		margin-bottom: 20px;
		color: white;
		text-shadow: -5px 6px #f00b6c;
	}
	#sprinkles:hover {
		-moz-transform: scaleX(-1);
		-o-transform: scaleX(-1);
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
		filter: FlipH;
		-ms-filter: "FlipH";
	}
}


/*end desktop media query */

@media screen and (max-width: 50em) {
	.content {
		padding: 0 10px;
		text-align: center;
	}
	.grid figure {
		display: inline-block;
		float: none;
		margin: 10px auto;
		width: 100%;
	}
}

@media only screen and (max-width: 480px) {
	.plane-box img {
		width: 20%;
		position: absolute;
		-webkit-transform: rotate(15deg);
		transform: rotate(15deg);
		left: 35vw;
		top: 16vh;
	}
}


/*icon fonts*/

@font-face {
	font-family: "menu";
	src: url("../fonts/menu.eot");
	src: url("../fonts/menu.eot?#iefix") format("embedded-opentype"), url("../fonts/menu.woff") format("woff"), url("../fonts/menu.ttf") format("truetype"), url("../fonts/menu.svg#menu") format("svg");
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before {
	font-family: "menu" !important;
	content: attr(data-icon);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: "menu" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
	content: "\63";
}

.icon-hamburger:before {
	content: "\68";
}