html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{display:block;}
ol, ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
#social-media a{font-size:300%;color:black;padding:10px;transition:all 0.3s;text-shadow:-8px 7px white;}
#social-media a:hover{color:#D92A7B;}
.container{width:100%;overflow:hidden;text-align:center;}
main{transform:translateX(-5000px);z-index:1;}
body{font-family:'Ubuntu', helvetica, sans-serif;font-weight:300;font-size:18px;line-height:1.4;color:#333;background-color:white;}
h2,
h3,
h4,
h5,
h6{font-family:'Righteous', cursive;font-size:4.4em;}
img{text-indent:-9999px;color:white;}
a{text-decoration:none;font-family:'Ubuntu', helvetica, sans-serif;font-weight:300;}
strong{font-weight:500;}
#loader{width:40%;margin:0 auto;position:absolute;left:15%;}
#loader img{position:relative;width:100%;z-index:-1;left:20%;top:0px;}
section{overflow:hidden;padding:60px 10%;}
#hello-header{color:white;font-family:'Righteous', serif;font-size:23vw;text-shadow:.03em .03em 0 hsla(230,40%,50%,1);animation:fadeInUp 1s ease-in;display:block;z-index:2;}
#intro{overflow:hidden;padding:20px;background:#d82b96;background:-moz-linear-gradient(top, #d82b96 0%, #d82b96 16%, #3fbfff 100%);background:-webkit-linear-gradient(top, #d82b96 0%,#d82b96 16%,#3fbfff 100%);background:linear-gradient(to bottom, #d82b96 0%,#d82b96 16%,#3fbfff 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d82b96', endColorstr='#3fbfff',GradientType=0);text-align:center;}
#logo-container{width:100%;overflow:hidden;}
#home-logo{display:inline-block;position:relative;transition:all 0.3s ease-in;width:20%;max-width:200px;min-width:100px;z-index:4000;animation:flip 0.2s ease-in 3;}
#home-logo:hover{-moz-transform:scaleX(-1);-o-transform:scaleX(-1);-webkit-transform:scaleX(-1);transform:scaleX(-1);filter:FlipH;-ms-filter:"FlipH";}
.flip{transition:all 0.2s ease-in;}
.flip:hover{-webkit-transform:scaleX(-1);transform:scaleX(-1);}
#profile-img-container{width:100%;text-align:center;}
.img-circle{display:inline-block;float:none;border-radius:50%;width:150px;border:2px solid white;box-shadow:1px 1px 8px rgba(0, 0, 0, 0.264);margin-bottom:20px;}
#about{background-color:#3FBFFF;color:white;overflow:hidden;position:relative;}
#about h1{font-size:150%;font-weight:500;font-family:'Ubuntu', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;background-color:black;padding:7px;display:inline-block;}
#about-text{width:100%;display:block;position:relative;z-index:600;}
#about #city{font-size:90%;font-weight:500;font-family:'Ubuntu', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;background-color:black;padding:7px;display:inline-block;margin-top:5px;}
#about-details{width:100%;text-align:center;}
#about-text ul{margin-top:20px;padding:10px;}
#about-text p,
#about-text ul li{color:#ffffff;color:white;font-size:17px;text-align:left;text-shadow:0px 0px 20px rgba(27, 27, 27, 0.422);font-weight:500;}
#about-text ul li:first-child{font-size:3em;margin-bottom:35px;text-align:center;text-shadow:6px 6px 0px rgba(0,0,0,0.2);font-family:'Righteous', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;width:100%;}
.em{vertical-align:top !important;}
#clouds{position:absolute;width:100%;height:auto;z-index:2;-webkit-animation:cloudsMove 40s infinite alternate;animation:cloudsMove 40s infinite alternate;}
section#portfolio{background-color:white;}
#portfolio h2{color:#6AC8C8;text-shadow:-5px 6px #106671;text-align:center;padding-top:5px;line-height:1;}
section#connect{background:#74ebd5;background:-webkit-linear-gradient(to right, #ACB6E5, #74ebd5);background:linear-gradient(to right, #ACB6E5, #74ebd5);color:white;text-align:center;}
#connect p{text-align:center;font-size:90%;color:white;width:100%;margin-top:20px;}
#connect h3{color:white;text-shadow:-5px 6px #f00b6c;text-align:center;padding-top:50px;line-height:1;}
footer{padding:50px 20px;text-align:center;color:white;background-color:rgb(81, 81, 81);}
footer p{padding:20px;text-align:center;font-size:80%;text-transform:uppercase;letter-spacing:5px;}
.socialmedia{margin-top:50px;width:40px;}
#show-button{display:block;position:fixed;top:0;right:0;color:white;font-size:250%;z-index:9800;text-shadow:2px 2px 3px black;}
#hide-button,
#nav ul{display:none;}
#nav:target #show-button{display:none;}
#nav:target #hide-button{display:block;position:fixed;top:0;right:0;color:white;font-size:300%;z-index:8555;text-shadow:2px 2px 3px black;}
#nav{z-index:9900;position:fixed;}
#nav:target #nav-menu{display:block;position:fixed;top:-70px;right:0;width:100%;height:100%;color:black;background-color:rgba(255, 255, 255, 0.9);padding-top:30vh;z-index:8444;}
#nav:target ul li{margin:0 auto;margin-top:30px;width:50%;display:block;z-index:8878;font-size:1em;margin-bottom:20px;}
#nav:target ul li a{text-transform:uppercase;color:black;padding:10px;text-decoration:none;display:block;text-align:center;width:100%;margin:0 auto;letter-spacing:5px;}
#nav:target ul li:nth-child(1){-webkit-animation:slideInRight .3s 1 ease-out .1s both;animation-name:slideInRight .3s 1 ease-out .1s both;}
#nav:target ul li:nth-child(2){-webkit-animation:slideInRight .3s 1 ease-out .2s both;animation-name:slideInRight .3s 1 ease-out .2s both;}
#nav:target ul li:nth-child(3){-webkit-animation:slideInRight .3s 1 ease-out .3s both;animation-name:slideInRight .3s 1 ease-out .3s both;}
#nav:target ul li:nth-child(4){-webkit-animation:slideInRight .3s 1 ease-out .4s both;animation-name:slideInRight .3s 1 ease-out .4s both;}
#nav:target ul li a:hover{background-color:pink;}
@keyframes cloudsMove{0%{transform:translateX(-70vw);}
50%{transform:translateX(70vw);}
}
@media only screen and (min-width:820px){.col-1{width:100%;}
.col-12{width:50%;}
.col-13{width:33.33%;}
.col-14{width:25%;}
#nav,
#nav ul{display:block;}
#show-button{display:none;}
#nav{position:relative;opacity:1;display:block;width:100%;background:rgb(255, 255, 255);z-index:9;text-align:right;color:rgba(29, 28, 28, 0.93);border-bottom:1px solid #363636;padding:4px 0px;}
#nav li{display:inline-block;margin-right:30px;font-size:16px;text-transform:uppercase;letter-spacing:5px;color:black;padding:5px 0px;}
#nav li a:hover{color:#d82b96;}
nav a{color:#121212;text-transform:uppercase;letter-spacing:1px;font-weight:500;text-shadow:0 0 1px rgba(255, 255, 255, 0.3);font-size:80%;transition:all 0.2s ease-in;}
#hello-header{font-size:20vw;}
#intro{min-height:50vh;}
.img-circle{min-width:150px;width:30%;border-radius:50%;border:2px solid white;box-shadow:1px 1px 8px rgba(0, 0, 0, 0.264);margin-bottom:20px;}
#about-details-container{overflow:hidden;width:85%;margin:0 auto;}
#about-text{margin:0 auto;display:block;position:relative;z-index:600;}
.about h1{margin-bottom:10px;font-size:200%;z-index:12;}
#about-text h1,
#about-text span{text-align:left;}
#about-text #city{margin-top:10px;font-size:90%;}
#portfolio h2{padding-bottom:10px;}
#connect p{font-size:13px;}
#connect h3{font-size:450%;line-height:1;margin-bottom:20px;color:white;text-shadow:-5px 6px #f00b6c;}
}
@media screen and (max-width:50em){.content{padding:0 10px;text-align:center;}
.grid figure{display:inline-block;float:none;margin:10px auto;width:100%;}
}
@media only screen and (max-width:480px){.plane-box img{width:20%;position:absolute;-webkit-transform:rotate(15deg);transform:rotate(15deg);left:35vw;top:16vh;}
}
@font-face{font-family:"menu";src:url("../fonts/menu.eot");src:url("../fonts/menu.eot?#iefix") format("embedded-opentype"), url("../fonts/menu.woff") format("woff"), url("../fonts/menu.ttf") format("truetype"), url("../fonts/menu.svg#menu") format("svg");font-weight:normal;font-style:normal;}
[data-icon]:before{font-family:"menu" !important;content:attr(data-icon);font-style:normal !important;font-weight:normal !important;font-variant:normal !important;text-transform:none !important;speak:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
[class^="icon-"]:before,
[class*=" icon-"]:before{font-family:"menu" !important;font-style:normal !important;font-weight:normal !important;font-variant:normal !important;text-transform:none !important;speak:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.icon-close:before{content:"\63";}
.icon-hamburger:before{content:"\68";}


/* Animations */
@-webkit-keyframes slideInRight{from{-webkit-transform:translate3d(150%, 0, 0);transform:translate3d(150%, 0, 0);visibility:visible;}
to{-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}
}
@keyframes slideInRight{from{-webkit-transform:translate3d(150%, 0, 0);transform:translate3d(150%, 0, 0);visibility:visible;}
to{-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}
}
.slideInRight{-webkit-animation-name:slideInRight;animation-name:slideInRight;}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes flip {
  from{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }
  to{
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}


/* Portfolio Grid Hover */

.grid{position:relative;clear:both;margin:0 auto;max-width:1000px;padding:0px;list-style:none;text-align:center;}
.grid figure{position:relative;float:left;overflow:hidden;margin: 10px 0px;max-width:100%;max-height:28vh;text-align:center;}
.grid figure img{position:relative;display:block;height:100%;width:100%;opacity:0.6;}
.grid figure figcaption{padding:2px;padding-top:20%;color:#fff;text-transform:uppercase;font-size:13px;}
.grid figure figcaption::before,
.grid figure figcaption::after{pointer-events:none;}
.grid figure figcaption,
.grid figure figcaption > a{position:absolute;top:0px;left:5px;width:90%;height:90%;}
.grid figure figcaption > a{z-index:1000;text-indent:200%;white-space:nowrap;font-size:0;opacity:0;}
.grid figure h3{font-family:'Ubuntu', sans-serif !important;word-spacing:-0.15em;font-size:1.2em;font-weight:400;text-shadow:1px 1px 5px #000000;}
.grid figure h3 span{font-weight:800;margin-left:2px;}
.grid figure h3,
.grid figure p{margin:0;}
.grid figure p{letter-spacing:.5px;font-family:'Ubuntu';font-weight:300;}
figure.effect-julia{background:#000000;}
figure.effect-julia img{max-width:none;height:100%;}
figure.effect-julia figcaption{text-align:left;}
figure.effect-julia h3{position:relative;padding:0 1px 0;color:#fcfcfc;}
figure.effect-julia p{display:inline-block;margin:0 0 0.25em;padding:3px 7px;background:rgba(255,255,255,0.9);color:#2f3238;text-transform:none;font-weight:500;font-size:80%;}
figure.effect-julia p:nth-of-type(3){-webkit-transition-delay:0.05s;transition-delay:0.05s;}
figure.effect-julia:hover p:first-child{-webkit-transition-delay:0s;transition-delay:0s;}
figure.effect-julia:hover p:nth-of-type(2){-webkit-transition-delay:0.05s;transition-delay:0.05s;}
figure.effect-julia:hover p:nth-of-type(3){-webkit-transition-delay:0.1s;transition-delay:0.1s;}
figure.effect-julia:hover img{opacity:0.4;-webkit-transform:scale3d(1.1,1.1,1);transform:scale3d(1.1,1.1,1);}
figure.effect-julia:hover p{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
figure.effect-julia p:nth-of-type(3){-webkit-transition-delay:0.05s;transition-delay:0.05s;}
.grid figure figcaption > a{z-index:1000;text-indent:200%;white-space:nowrap;font-size:0;opacity:0;}
.grid figure h3{opacity:1;word-spacing:-0.15em;font-weight:300;text-shadow:1px 1px 5px #000000;}
.grid figure h3 span{font-weight:800;margin-left:3px;}
.grid figure h3,
.grid figure p{margin:0;}
.grid figure p{letter-spacing:1px;font-size:12px;font-weight:300;}
figure.effect-julia:after{content:attr(data-shadow);position:absolute;top:.06em;left:.06em;z-index:-1;text-shadow:none;background-image:linear-gradient(45deg,
transparent 45%,
hsla(48,20%,90%,1) 45%,
hsla(48,20%,90%,1) 55%,
transparent 0);background-size:.05em .05em;-webkit-background-clip:text;-webkit-text-fill-color:transparent;animation:shad-anim 15s linear infinite;}
@keyframes shad-anim{0%{background-position:0 0}
0%{background-position:100% -100%}
}
figure.effect-julia{background:#000000;}
figure.effect-julia img{max-width:none;height:100%;-webkit-transition:opacity 1s, -webkit-transform 1s;transition:opacity 1s, transform 1s;-webkit-backface-visibility:hidden;backface-visibility:hidden;}
figure.effect-julia figcaption{text-align:left;}
figure.effect-julia h3{position:relative;padding:0.5em 0;color:#fcfcfc;opacity:1;}
figure.effect-julia p{display:inline-block;margin:0 0 0.25em;padding:0.4em 1em;background:rgba(255,255,255,0.9);color:#2f3238;text-transform:none;font-weight:500;font-size:75%;-webkit-transition:opacity 0.35s, -webkit-transform 0.35s;transition:opacity 0.35s, transform 0.35s;-webkit-transform:translate3d(-360px,0,0);transform:translate3d(-360px,0,0);}
figure.effect-julia p:first-child{-webkit-transition-delay:0.15s;transition-delay:0.15s;}
figure.effect-julia p:nth-of-type(2){-webkit-transition-delay:0.1s;transition-delay:0.1s;}

@media only screen and (max-width: 450px) {
  figure.effect-julia p{
    opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);
  }

}


@media only screen and (min-width: 450px) and (max-width: 820px) {
  .grid figure{
    max-height: 35vh;
    width: 47%;
    margin-left: 5px;
  }

}
@media only screen and (min-width:820px){.grid{max-width:100%;}
.grid figure{max-width:29%;max-height:40vh;margin:5px;}
  .grid figure h3{
    font-size: 1.3em;
  }
  figure.effect-julia h3{
    padding: 0.2em 0;
  }
  .grid figure figcaption{
    padding-top: 15%;
  }
  figure.effect-julia p{
    font-size: 90%;
  }
}